.menu, .rodape{width: 80%; margin: auto; padding:20px; max-width: 500px; background-color:rgba(161, 139, 139, 0.527);}
.rodape{text-align: center;}

body  {background-image: url(/imgs/kobby-mendez-w0_w3N_hG00-unsplash.jpg); background-repeat: no-repeat; background-size: cover; color: rgb(111, 170, 16)); font-style: oblique;;}

.doce {text-align: left; width: 75%; color: peru}

.preco {text-align: right; width: 25%; color: rgba(241, 206, 116, 0.986);}

.artigo p {display: inline-block; font-size: 20px;}

h1, h2, h3 {text-align: center; color: rgb(219, 231, 231); text-decoration:underline;}


.funded {text-align: center; font-family:'Times New Roman', Times, serif; font-style: italic; font-size: 25px; color:rgb(241, 206, 7);}

.logo {text-align: center; width: 150px;; height: 150px;; margin-left: auto; margin-right:auto; display: block; opacity:0.9;}

.media{display: inline-block;}

.media p{text-align: left;}
.media img{text-align: right;}

.logotipo {text-align: center; width: 150px; height: 150px; margin-left: auto; margin-right: auto;}

.compname {color: brown; font-family:cursive; font-size:40px; text-decoration: none; font-weight: 700;}

.location {text-align: center; color:goldenrod; font-size: 20px;}

.insta, .whatts {text-align: right; width: 25px; padding:10px;}

.divider {height: 4px; background-color: chocolate ;}

.note {font-size: 20px;}


