.menu, .rodape{width: 80%; margin: auto; padding:20px; max-width: 500px; background-color:rgba(161, 139, 139, 0.527);}
.rodape{text-align: center; margin-top: -50px;}

body  {background-image: url(/imgs/kobby-mendez-w0_w3N_hG00-unsplash.jpg); background-repeat: no-repeat; background-size:cover; background-position: center center; color: rgb(111, 170, 16)); font-style: oblique;}

.doce {text-align: left; width: 75%; color: peru}

.preco {text-align: right; width: 25%; color: rgba(241, 206, 116, 0.986);}

.artigo p {display: inline-block; font-size: 20px;}

h1, h2, h3 {text-align: center; color: rgb(219, 231, 231); text-decoration:underline;}


p.funded {text-align: center; font-family:'Times New Roman', Times, serif; font-style: italic; font-size: 25px; color:rgb(241, 206, 7); margin-top:-20px;}

.logo {text-align: center; width: 175px; height: 175px;; margin-left: auto; margin-right:auto; display: block; opacity:0.9; border-radius: 35%; margin-bottom: 15px;}

.contacts {color: peru;}

.logotipo {text-align: center; width: 150px; height: 150px; margin-left: auto; margin-right: auto;}

.compname {color: rgba(204, 106, 37, 0.774); font-family:Georgia, 'Times New Roman', Times, serif; font-size:40px; text-decoration: none; font-weight: 700; margin-top: 40px; box-shadow: 1px 1px 15px 0px rgba(223, 104, 20, 0.863);}

p.location {text-align:center; color:rgb(241, 206, 7); font-size: 20px; margin-top:5px;}

.insta, .whatts {width: 40px; height: 40px; padding:10px; border-radius:15%; margin-left: auto; margin-right: auto;}

.media{display: inline-block; text-align: center; margin-top: -20px;} 

.socialnet{text-align: center; margin: auto; font-size: 17px;}

p.media{text-align: left;}
img.media{text-align: right;}
p.mediap {text-align: center;}

.divider {height: 6px; background-color: rgba(226, 120, 33, 0.747) ;}

.note {font-size: 20px; color: darkgray; padding: auto;}

.number p{ text-align: center; color:rgba(241, 206, 116, 0.986)}

a:hover {color: coral;}
a:visited{color: purple;}
a {color: blue;}

